/* reset */
html{
    /* formater la taile standard de la police de caractères */
    font-size: 62.5%; /* 16 * 62.5% = 10.000 */
}
body{
    font: 1.6rem sans-serif; /* serif */
    line-height: 1.6;
    letter-spacing: 0.1rem;
    margin: 0;
    background-color: var(--bgcolor-primary-ff); /* fond arrière-plan */
    color: var(--bgcolor-default-text); /* couleur du texte */
}
h1,h2,h3,h4,h5,h6,p,ul,ol{ /* contexte css */
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: #6e65ec;
}
button{
    padding: 0;
    background: transparent;
    font-size: inherit;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}
*{
  box-sizing: border-box;  
}
/* unité de mesure em, rem, px, ch, vw, vh */
/* 
theme css variables 
*/
:root{
    --bgcolor-primary-ff: #2b2a33;
    --bgcolor-secodary-ff: #42414d;
    --bgcolor-logo-ff: rgb(236, 36, 18);
    --bgcolor-default-text: hsl(0, 0%, 100%);
    --color-section-title: #74b9ff;
    --color-article-title: hsl(39, 97%, 71%);

}
.button{ /* btn générique */
    display: inline-block;
    width: 20rem;
    line-height: 3.5rem;
    text-align: center;
    margin: 1rem 0;
    padding: .5rem 0;
    background-color: var(--bgcolor-primary-ff);
    border-radius: .4rem;
}
.button-primary{
    background-color: var(--color-section-title);
    color: #222;
}
.button-alert{
    background-color: var(--bgcolor-logo-ff);
    color: #fff;
}
header h1{
    font-weight: normal;
    text-align: center;
    line-height: 7.0rem;
}
header h1 .alert{
    color: var(--bgcolor-logo-ff);
    text-transform:uppercase;
    font-weight:lighter;
    font-size: xx-large;
}
article, section, aside{ /* contexte css */
    max-width: 90rem;
    /* border: solid .1rem var(--bgcolor-default-text); */
    margin: 0 auto 1rem;
    background-color: var(--bgcolor-secodary-ff);
    padding: 1rem;
}
article h2{
    color: var(--color-article-title);
}
section h2{
    color: var(--color-section-title);
}
#content h2{
    color: var(--bgcolor-default-text);
}

section ol li a{
    color: var(--bgcolor-default-text);
    text-transform: uppercase;
   
}
.desappear{
    opacity: 0;
    transition: all 500ms ease-out;
}
/* toast */
.toast{ 
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 40rem;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: all 500ms ease-out;

}
.toast-desappear{
    opacity: 0;
    z-index: 0;
}
footer{
    padding: 1rem 0;
}
footer p{
    text-align: center;
}
